.pagination {
  position: absolute;
  bottom: 10px;
  left: 25%;
  display: flex;
  justify-content: space-between;
  width: 220px;
  max-width: 100%;
  transform: translate(-50%);
}

.pagination__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe3b1f;
  cursor: pointer;
  opacity: 0.3;
}

.active {
  opacity: 1;
}

/* Media query for mobile devices */

@media (max-width: 1024px) {
  .pagination {
    left: 50%;
    bottom: 0;
  }
}
