.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  border-bottom: 2px solid black;
}

.header__image {
  width: 142px;
  height: auto;
}

.header__text {
  font-size: 22px;
  font-weight: 700;
}
