.accordian {
  margin: 0 auto;
  width: 80%;
  transition: all 0.3s ease;
  color: rgb(163, 163, 163);
  cursor: pointer;
  border: 2px solid black;
}

.accordian__item {
  background-color: white;
  max-width: 80%;
  margin: 0 auto;
}

.accordian__box__header {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.accordian__box {
  max-width: 80%;
  height: 50px;
  background-color: var(--rocket);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  align-items: center;
}

.accordian__box:first-child {
  margin-top: 0px;
}

.accordian__subTitle {
  font-family: 'Rowdies';
  font-weight: lighter;
}

.accordian__textField {
  padding: 0;
}

.accordian__icon {
  cursor: pointer;
}

.accordian__info,
.accordian__skillset {
  width: 260px;
}

.accordian__skillset {
  max-width: 100%;
}

.vaccine {
  margin-left: 14% !important;
}

.accordian__box p,
span {
  color: white;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
}

.accordian__info__box {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.accordian__subTitle {
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.submited__text {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
  color: white;
  text-align: left;
}

/* queries */

@media (max-width: 1200px) {
  .vaccine {
    margin-left: 9% !important;
  }
}

@media (max-width: 840px) {
  .accordian__info__box {
    flex-direction: column;
    align-items: center;
  }
  .accordian__info__box {
    width: 100%;
  }
  .accordian__item {
    max-width: 100%;
  }
  .accordian__box__header {
    width: 90%;
  }
  .vaccine {
    margin-left: 30% !important;
  }
  .accordian__box {
    max-width: 100% !important;
  }
}

@media (max-width: 420px) {
  .vaccine {
    margin-left: 13% !important;
  }
}

@media (max-width: 340px) {
  .accordian__item {
    width: 100%;
  }
  .accordian {
    width: 95% !important;
  }
  .vaccine {
    margin-left: 20% !important;
  }
  .accordian__box__header {
    width: 90%;
  }
  .accordian__box {
    max-width: 100% !important;
  }
}

@media (max-width: 280px) {
  .accordian__item {
    min-width: 100%;
  }
  .accordian__info {
    width: 200px;
  }
  .vaccine {
    margin-left: 8% !important;
  }
  .accordian {
    max-width: 100%;
  }
  .accordian__box__header {
    width: 90%;
  }
  .accordian__box {
    max-width: 100% !important;
  }
}
