.home {
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.home__headText {
  color: #fe3b1f;
  font-family: 'Rowdies';
  font-weight: 400;
  font-size: 80px;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

.home__button {
  background-color: #fe3b1f;
  color: white;
  font-family: 'Montserrat';
  font-size: 20px;
  border: 2px solid #fe3b1f;
  padding: 10px 50px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 999;
}

.home__submitText {
  margin-top: 30px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  z-index: 999;
}

.home__rocket {
  position: relative;
  right: 30px;
  top: -50px;
  width: 470px;
  height: auto;
  max-width: 100%;
  animation: rotation 6s infinite ease-in-out;
}

/* Media query for mobile devices */

@media (max-width: 1024px) {
  .home__headText {
    font-size: 50px;
  }
}

@media (max-width: 280px) {
  .home__headText {
    font-size: 30px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
