.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.page__left,
.page__right {
  width: 50%;
}

.page__left {
  height: 100vh;
  text-align: center;
  padding: 0 10px;
  overflow-x: hidden;
}

.page__right {
  height: 100vh;
  background-color: black;
}

.page__heading {
  color: #fe3b1f;
  font-family: 'Rowdies';
  font-weight: normal;
  line-height: 79px;
  font-size: 60px;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.page__text {
  color: white;
  width: 450px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 200%;
  max-width: 90%;
  padding: 0 10px;
}
