.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.covid__page {
  height: 100vh !important;
}

.page__left,
.page__right {
  width: 50%;
}

.page__left {
  min-height: 100vh;
  text-align: center;
  padding: 0 10px;
  position: relative;
}

.page__right {
  background-color: black;
}

.page__heading {
  color: #fe3b1f;
  font-family: 'Rowdies';
  font-weight: normal;
  line-height: 79px;
  font-size: 60px;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.page__text {
  color: white;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 200%;
  max-width: 90%;
  padding: 0 10px;
}

/* Media query for mobile devices */

@media (max-width: 1024px) {
  .page {
    flex-direction: column;
  }
  .page__left,
  .page__right {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .page__heading {
    font-size: 45px;
    line-height: normal;
  }
}

@media (max-width: 280px) {
  .page__heading {
    font-size: 30px;
    line-height: normal;
  }
}
