.datePicker {
  position: relative;
}

.datePicker input {
  padding: 10px;
}

.datePicker__calendar {
  width: 300px;
  max-width: 100%;
  padding: 10px 0;
}

.datePicker__image {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  cursor: pointer;
}

@media (max-width: 280px) {
  .datePicker__calendar {
    width: 99%;
  }
  .datePicker__image {
    right: -10px;
  }
}
