.skills__container {
  min-height: 92vh;
  flex-direction: column;
  align-items: center;
}

.skill__button {
  background-color: #fe3b1f;
  color: white;
  font-family: 'Montserrat';
  width: 170px;
  height: 26px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
}

@media (max-width: 280px) {
  .skill__button {
    margin: 10px auto;
  }
  .skill__error__message {
    margin: 0 auto;
  }
}
