.textField {
  display: 'flex';
  flex-direction: 'column';
  padding: 10px;
  max-width: 100%;
}

.textField__input {
  border: 1px solid black;
  padding: 10px;
  color: black;
  font-size: '17px';
  margin-top: 10px;
  max-width: 100%;
}
.textField__input::placeholder {
  color: #454545;
  font-style: italic;
  font-size: 12px;
}
