.textField {
  display: 'flex';
  flex-direction: 'column';
  padding: 10px;
}

.textField input {
  border: 1px solid black;
  padding: 15px;
  color: black;
  font-size: '17px';
  margin-top: 10px;
}
.textField__input::placeholder {
  color: #454545;
  font-style: italic;
  font-size: 12px;
}

/* 
Media query for mobile devices */

@media (max-width: 280px) {
  .textField input {
    max-width: 100%;
  }
}
