/* variables */

:root {
  --rocket: #fe3b1f;
}

body {
  /* simple reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: underline;
  color: inherit;
}

p {
  margin: 0;
}
